.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
}

.description img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  width: 40px; 
  height: 40px;
  border-radius: 30%;
  object-fit: cover;
}


.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
}

.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6 {
  font-weight: bold;
}

.description b {
  font-weight: bold;
}

.description i {
  font-style: italic;
}

.imageContainer {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex: 1;
  max-height: 350px; 
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.follow {
  background: linear-gradient(45deg, #ff6b6b, #ff8e53);
  color: white;
}

.unfollow {
  background: linear-gradient(45deg, #d4d4d4, #8e8e8e);
  color: white;
}

.followButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.authorProfile {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}


@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
